/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    background: black;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

body {
    font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif, monospace;
    font-weight: 100;
    font-size: 100%;
    line-height: 100%;
    /*background: #ffffff;*/
    background: black;
    color: gray;
    width: 100%;
    height: auto;
    /*max-width: 1000px;*/
    margin: 0 auto;
    /*margin-top: 10px;*/
    /*margin: 10%;*/
    /*margin-top: 10px;*/
}


ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

strong {
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', "Helvetica Neue", Helvetica, sans-serif, monospace;
    font-weight: 300;
    color: #CB4B19;
    font-size: 1.75em;
    margin-bottom: .2em;
}

p {
    margin-bottom: .2em;
}

table {
  border-collapse: collapse;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

@media all and (max-width: 500px) {
    h2 {
        padding-left: 10px;
        text-align: center;
    }

    .container {
        width: 100%;
    }
}

#graphic {
    margin: 0 auto;
}


hr {
    border: 0;
    height: 1px;
    background: gray;
}

.admin, .tooltip {
    margin: 5%;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    font-size: 2.5em;
    line-height: 1.5em;
    background: black;
    color: gray;
}

select:focus {
  outline: none;
}
