/* main.css */

.column {
    float: none;
  }

div#wordIn {
  background-color:black;
  color:#888888;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: left;
  padding: 1em;
  margin-left: 20%;
  line-height: 1em;
}

div#wordOut {
  background-color:black;
  color:#888888;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: left;
  padding: 1em;
  margin-left: 20%;
  line-height: 1em;
}

label{
  display: block;
  padding: 1em;
  /*padding-bottom: 1em;*/
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  text-align: left;
}
a {
    color: #333333;
}

input[type="text"]{
  margin-left: 0.9em;
  padding: 0.5em;
  border: 2px solid gray;
  background-color:black;
  color: yellow;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 4em;
}
output[type="text"]{
  margin-top: 0.5em;
  margin-left: 0.9em;
  padding: 0.5em;
  border:none;
  color: #00BB00;
  border: 2px solid green;
  font-size: 3.5em;
}


.fullscreenButton {
  background-color:black;
  border:1px solid gray;
  cursor:pointer;
  color:#888888;
}
.fullscreenButton:hover {
  color:white;
  background-color:gray;
}
.fullscreenButton:focus {
  outline:0;
}


.statsToggleButton {
  background-color:black;
  border:1px solid gray;
  cursor:pointer;
  color:#888888;
}
.statsToggleButton:hover {
  color:white;
  background-color:gray;
}
.statsToggleButton:focus {
  outline:0;
}


.infoButton {
  background-color:black;
  border:1px solid gray;
  cursor:pointer;
  color:#888888;
}
.infoButton:hover {
  color:white;
  background-color:gray;
}
.infoButton:focus {
  outline:0;
}
