div#wordIn {
  margin-left: 10%;
  background-color:black;
  font-size: 2em;
  font-family: "Lucida Console", Monaco, monospace;
  /*margin: auto;*/
  text-align: left;
  color:#888888;
}

div#wordOut {
  margin-left: 10%;
  background-color:black;
  font-size: 2em;
  font-family: "Lucida Console", Monaco, monospace;
  /*margin: auto;*/
  text-align: left;
  color:#888888;
}
label{
  margin-left: 10%;
  display: block;
  padding: 5px;
  font-size:16px;
}
input[type="text"]{
  margin-left: 10%;
  padding: 5px;
  font-size: 1em;
  text-align: left;
  background-color:black;
  border:none;
  font-family: "Lucida Console", Monaco, monospace;
  color:yellow;
}
output[type="text"]{
  padding: 5px;
  margin-left: 10%;
  font-size: 1em;
  text-align: left;
  background-color:black;
  border:none;
  font-family: "Lucida Console", Monaco, monospace;
  color:green;
}
.fullscreenButton {
  background-color:black;
  border:1px solid gray;
  cursor:pointer;
  color:#888888;
}
.fullscreenButton:hover {
  color:white;
  background-color:gray;
}
.fullscreenButton:focus {
  outline:0;
}