<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>

    <% if ( tweet ) { %>
		<h2>TWEET <%=tweet%> </h2>
	<% } else { %>
	<% } %>

</body>
</html>